body {
 margin: 0;
 font-family: Comic Sans MS, monospace;
 background: url(http://hdimg.ru/_ph/13/328597996.jpg);
 user-select: none;
 -webkit-user-select: none;
 cursor: default;
}

.content {
 width: 1100px;
 height: 600px;
 position: relative;
 top: 50px;
 left: 100px;
}

#grass {
 background: url(images/sand.jpg);
 border: 2px solid #000000;
 border-radius: 5px 5px 5px 5px;
 box-shadow: 5px 5px 10px #000000;
}

.content__info {
 width: 200px;
 height: 600px;
 background-color: #FFFFFF;
 border: 2px solid #000000;
 border-radius: 10px 10px 10px 10px;
 box-shadow: 5px 5px 10px #000000;
 float: right;
}

.content__info div {
 width: 160px;
 height: 30px;
 margin: 20px;
 font-size: 16pt;
 text-align: center;
 color: #FFFFFF;
 text-shadow: 3px 3px 3px #000000;
 border: 1px solid #000000;
 border-radius: 10px 10px 10px 10px;
 box-shadow: 5px 5px 10px #000000;
 background-color: #000066;
}

#avatar {
 width: 120px;
 height: 120px;
 margin-left: 40px;
 border-radius: 0;
}

#score {
 margin-bottom: 45px;
 color: yellow;
 cursor: pointer;
}

#records:hover, #pause:hover, #sound:hover {
 background-color: #FF0000;
 transform: scale(1,5, 1,5);
 -webkit-transform: scale(1.1, 1.1);
 cursor: pointer;
}

.content__info__lives:hover::after, .content__info__level:hover::after, .content__info__fruits:hover::after, #score:hover::after {
 position: absolute;
 padding: 10px 10px;
 color: #000000;
 background: rgba(255,255,230,0.8);
 font-size: 11px;
 border: 1px solid #333;
 z-index: 1;	
}

.content__info__lives:hover::after {
 content: 'When your lives become equal to zero, game will over';
 top: 12%;
 left: 82%; 
 
}

.content__info__level:hover::after {
 content: 'Your current level of the game';
 top: 23.5%;
 left: 83%; 
}

.content__info__fruits:hover::after {
 content: 'Flowing quantity of collected fruit / necessary quantity of fruit to level up';
 top: 35%;
 left: 82%; 
}

#score:hover::after {
 content: 'Your current score of the game';
 top: 46.5%;
 left: 83%; 
}

.high-score, .cheat-game, .profile, .new-game, .level-up, .die, .pause, .end-game, .win-game {
 width: 400px;
 height: 300px;
 position: fixed;
 top: 200px;
 left: 300px;
 text-align: center;
 text-shadow: 3px 3px 3px #000000;
 background-color: #FFFFFF;
 border: 2px solid black;
 border-radius: 10px 10px 10px 10px;
 box-shadow: 5px 5px 10px #000000;
 z-index: 10;
 display: none;
}

.profile {
 display: block;	
}

.high-score__title, .cheat-game__title, .profile__title, .new-game__title, .level-up__title, .die__title, .pause__title, .end-game__title, .win-game__title {
 height: 60px;
 background-color: #000066;	
 border-radius: 7px 7px 0px 0px;
}

.high-score__title__name, .cheat-game__title__name, .profile__title__name, .new-game__title__name, .level-up__title__name, .die__title__name, .pause__title__name, .end-game__title__name, .win-game__title__name {
 position: relative;
 font-size: 30pt;
 letter-spacing: 15px;
 color: #FFFFFF;
}

.cheat-game__text, .profile__text, .new-game__text, .level-up__text, .die__text, .pause__text, .end-game__text, .win-game__text {
 height: 160px;
 text-shadow: 1px 1px 1px #000000;
 padding-top: 30px;
}

.level-up__text__total-score, .win__text__total-score {
 color: #FF0000;
}

.title, .value {
 width: 200px;
 height: 30px;
 font-size: 16pt;
 float: left;
}

#jump, #cancelCheat, #confirm, #incognito, #start, #settings, #next, #continue, #resume, #end-game, #win-game, #apply, #cancel, .quit, .records, #hs-ok, #clear {
 width: 165px;
 height: 30px;
 margin-left: 20px;
 font-size: 16pt;
 letter-spacing: 3px;
 color: #FFFFFF;
 background-color: #000066;
 border: 2px solid black;
 border-radius: 10px 10px 10px 10px;
 box-shadow: 5px 5px 10px #000000;
 cursor: pointer;
 float: left;
}

#jump:hover, #cancelCheat:hover, #confirm:hover, #incognito:hover, #start:hover, #settings:hover, #next:hover, #continue:hover, #resume:hover, #end-game:hover, #win-game:hover, #apply:hover, #cancel:hover, .quit:hover, .records:hover, #hs-ok:hover, #clear:hover {
 background-color: #FF0000;
 transform: scale(1,5, 1,5);
 -webkit-transform: scale(1.1, 1.1);
}

.new-game__text__name, .die__text__name, .pause__text__name, .end-game__text__name {
 padding: 30px;
 font-size: 18pt;
 letter-spacing: 3px;
}

.cheat-game__text__title, .profile__text__title, .die__text__name-score, .pause__text__name-score, .end-game__text__name-score {
 padding: 0;
 font-size: 18pt;
 letter-spacing: 3px;
}

.die__text__name-score, .pause__text__name-score, .end-game__text__name-score {
 color: #FF0000;	
}

#level-go, .profile__text__value {
 margin: 40px;
}

#name-error {
 margin-top: -40px;
 color: red;
 display: none;
}

.setting-menu {
 width: 700px;
 height: 500px;
 position: fixed;
 top: 100px;
 left: 150px;
 text-align: center;
 text-shadow: 3px 3px 3px #000000;
 background: #FFFFFF;
 border: 2px solid black;
 border-radius: 10px 10px 10px 10px;
 box-shadow: 5px 5px 10px #000000;
 z-index: 20;
 display: none;
}

.setting-menu__content {
 float: left;
}

.setting-menu__content > div {
 height: 50px;
 margin-top: 20px;
 margin-left: 25px;
 padding-top: 8px;	
 font-size: 18pt;
 text-align: center;
 text-shadow: 1px 1px 1px #000000;
}

.menu-items div {
 width: 200px;
 float: left;
}

#example {
 margin-top: 20px;
 background: url(images/sand.jpg);
 border: 2px solid #003D00;
 border-radius: 5px 5px 5px 5px;
 box-shadow: 5px 5px 10px #000000;
}

select {
 width: 100px;
}

.high-score {
 width: 700px;
 height: 500px;
 top: 100px;
 left: 150px;
 z-index: 20;	
}

.high-score__content__row {
 height: 30px;
 margin-top: 5px;
}

.high-score__content__row__list {
 width: 200px;
 float: left;
}

.high-score__content__row__result div {
 width: 250px;
 float: left;	
}

#hs-ok, #clear {
 margin: 30px;
 margin-left: 110px;
}